@media screen and (max-width: 925px) {

  header {
    justify-content: center;
    text-align: center;
  }

  .botoes {
    display: block;
  }

  .contatohd {
    margin-right: 0px;
  }

  .cv {
    margin-top: 15px;
    margin: 0 20px;
  }

  .social {
    display: none;
  }

  .textport{
    font-size: 100%;
  }

  .contatorp {
    margin: 0px 10px 30px 10px;
  }

  .txtrp {
    font-size: 30px;
  }

  .modal {
    width: 80%;
  }

  footer p{
    font-size: 20px;
  }
  
}

@media screen and (max-width: 550px) {
  
  .botoes{
    flex-flow: column wrap;
  }

}