
@media screen and (max-width: 780px){
  
    header{
      justify-content: space-between;
      text-align: center;
      width: 90vw;
      padding: 0px 30px;
    }

    /* .burger{
      display: contents;
    } */
    
    /* .botoes{
      display: block;
    }
  
    .contatohd{
      margin-right: 0px;
    }
  
    .cv{
      margin-top: 15px;
    }
  
    .social{
      display: none;
    }*/
  
    .itemnav{
      display: none;
    }
    
    .botoesnav{
      display: none;
    }

    .hamburguer{
      display: block;
      flex: 1;
    }

    .menu-itens {
      left: 60vw;
      position: fixed;
      background-color: #F2EEDF;
      margin-top: 100px;
      z-index: 1001;
      border-radius: 0px 0px 10px 10px;
      box-shadow: 0px 10px 8px 1px #00000065;
    }

    .menu-itens ul{
      list-style-type: none;
    }

    .menu-itens ul li a{
      text-decoration: none;
      padding: 50px;
      color: #2696b6;
    }

    .banner1 {
      font-size: 3.5vw;
    }
  
    .pulo{
      display: table-column;
    }
  
    .container{
      justify-content: center;
    }
  
    .txtbanner{
      margin-bottom: 70px;
    }
  
    .contatorp{
      margin: 0px 0px 30px 0px;
    }
  
    .txtrp{
      font-size: 30px;
    }
  
    .imgport{
      height: 100%;
    }
  
  }