 
/*Breakpoints:

      320px — 480px: dispositivos móveis
      481px — 768px: iPads, tablets
      769px — 1024px: telas pequenas, laptops
      1025px — 1200px: desktops, telas grandes
      1201px e acima —  telas muito grandes, TVs
*/

/* Cores:

    #F2EEDF - Bege
    #203F34 - Verde Escuro
    #B4945A - Dourado    
*/

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

 h1 a{
  text-decoration: none;
  color: #2696b6;
 }

header {
    position: fixed;
    margin: -0.45%;
    height: 110px;
    width: 94vw;
    padding: 0 50px;
    background-color: #F2EEDF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    box-shadow: 0px 0px 15px 5px #00000065;
}

.boxlogo{
width: 20vw;
}

.logo{
  width: 70px;
}

/* p {
      font-family: 'roboto';
      font-weight: 380;
} */
/* botões header 
.botoes {
    margin-left: 4.5%;
    margin-right: 4.5%;
    display: inline-flex;
}

.contatohd {
    font-size: 15px;
    background-color: #B4945A;
    border: none;
    color: #ffffff;
    width: 220px;
    height: 50px;
    margin-right: 20px;
    border-radius: 100px;
    transition: 1.5s
}

.contatohd:hover {
    color: #ffffff;
    background-color: #B4945A;
    box-shadow: 0px 0px 10px 5px #B4945A;
    cursor: pointer;
} */

.nav{
  text-align: center;
  width: 50vw;
}

.itemnav{
  font-family: 'roboto';
  font-weight: 450;
  color: #00000065;
  text-decoration: none;
  position: relative;
  padding: 44px 20px;
  transition: color 0.5s ease;
}

.itemnav::before{
  content: '';
  position: absolute;
  width: 0;
  height: 4px;
  bottom: 0;
  left: 50%;
  background-color: #2696b6;
  transition: width 0.5s ease, left 0.5s ease;
}

.itemnav:hover::before{
  width: 100%;
  left: 0;
}

.itemnav:hover{
  color: #2696b6;
}

.botoesnav{
  text-align: right;
  width: 20vw;
}

/* .burger{
  display: none;
} */


.cv {
    background-color: #2696b6;
    border: none;
    color: #ffffff;
    width: 100px;
    height: 50px;
    border-radius: 100px;
    transition: 1.5s ease;
    margin: 10px;
}

.cv:hover {
    color: #ffffff;
    box-shadow: 0px 0px 5px 5px #2696b6;
    cursor: pointer;
}

.orcamento {
  background-color: #2696b6;
  border: none;
  color: #ffffff;
  width: 120px;
  height: 50px;
  border-radius: 100px;
  transition: 1.5s
}

.orcamento:hover {
  color: #ffffff;
  box-shadow: 0px 0px 5px 5px #2696b6;
  cursor: pointer;
}

/*
.social {
    margin-right: 4.5%;
    height: 50px;
    width: 325px;
}

.social a{
  font-family: roboto;
  font-weight: 380;
  color: #ffffff;
  text-decoration: none;
}

.social a:hover{
    text-decoration: underline;
}

.bar {
    color: #ffffff;
    display: inline-block;
    margin-left: 8px;
    margin-right: 8px;
}

.midia {
    display: inline-block;
}
*/

.perfil {
  border-radius: 100%;
  min-width: 50px;
  width: 7%;
  margin: 10px;
  align-content: center;
  border: solid 3px #2696b6;
}

.banner1 {
  background-color: #000000e5;
  margin: -0.45%;
  padding: 180px;
  padding-bottom: 100px;
  height: 100%;
  text-align: center;
  color: #ffffff;
  font-size: 25px;
  font-weight: bolder;
  box-shadow: 0px 20px 15px 3px #00000065;
}

.txtbanner{
  font-family: 'roboto';
  font-weight: 380;
}

.pulo{
  display: none;
}

.container {
  flex-wrap: wrap;
  gap: 30px;
  width: 80%;
  margin: -80px 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.box {
  min-width: 250px;
  max-width: 400px;
  height: 550px;
  background: rgb(255, 255, 255);
  font-size: 16px;
  box-shadow: 0px 0px 15px 5px #00000065;
  padding: 100px 0px;
  text-align: center;
  border-radius: 20px;
}

.icons {
  width: 25%;
}

.boxtitulo {
  color: #2696b6;
  font-size: 35px;
  font-weight: bold;
}

.categoria {
  font-size: 20px;
  color: #2696b6;
  font-weight: bolder;
}

.titulos {
  color: #2696b6;
  padding: 100px 0px 50px 0px;
  margin: 2% 10% ;
  text-align: center;
  font-size: 270%;
  font-weight: bold;
}

.containerport {
  flex-wrap: wrap;
  gap: 30px;
  width: 80%;
  margin: -50px 10% 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.containerimg {
  gap: 30px;
  max-width: 400px;
  min-width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.imgport {
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 15px 5px #00000065;
  border-radius: 20px;
}

.aport{
  height: 276px;
  border-radius: 20px;
}

.rodape {
  box-shadow: 0px 0px 15px 15px #00000065;
  color: #ffffff;
  margin: 10% -0.45% -0.45% -0.45%;
  padding-top: 50px;
  padding-bottom: 0px;
  height: 100%;
  background-color: #000000e5;
  border: none;
  text-align: center;
}

.txtrp {
  size: 5px;
}

.contatorp {
  font-size: 15px;
  background-color: #2696b6;
  border: none;
  color: #ffffff;
  width: 220px;
  height: 50px;
  display: inline-block;
  align-items: center;
  border-radius: 100px;
  margin: 40px 60px 60px 60px;
  transition: 1.5s
}

.contatorp:hover {
  color: #ffffff;
  background-color: #2696b6;
  box-shadow: 0px 0px 10px 5px #2696b6;
  cursor: pointer;
}

.fa-brands {
  color: #ffffff;
  font-size: 27px;
  margin: 10px;
  transition: 0.4s;
}

.fa-brands:hover {
  color: #2696b6;
}