.boxport1 {
    background-image: url(img/perfil.png);
    width: 25%;
    height: 20px;
    background: rgb(255, 255, 255);
    margin: 20px;
    box-shadow: 0px 0px 15px 5px #00000065;
    padding: 100px 0px;
    border-radius: 20px;
  }