/*Breakpoints:

      320px — 480px: dispositivos móveis
      481px — 768px: iPads, tablets
      769px — 1024px: telas pequenas, laptops
      1025px — 1200px: desktops, telas grandes
      1201px e acima —  telas muito grandes, TVs
*/

/* Cores:

    #F2EEDF - Bege
    #203F34 - Verde Escuro
    #B4945A - Dourado    
*/

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

 h1 a{
  text-decoration: none;
  color: #2696b6;
 }

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 95vw;
  height: 110px;
  padding: 0 50px;
  background-color: #F2EEDF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: nowrap;
  box-shadow: 0px 0px 15px 5px #00000065;
  z-index: 1000; 
}

.boxlogo{
  flex: 1;
  flex-shrink: 0;
}

.logo{
  width: 70px;
}

/* p {
      font-family: 'roboto';
      font-weight: 380;
} */
/* botões header 
.botoes {
    margin-left: 4.5%;
    margin-right: 4.5%;
    display: inline-flex;
}

.contatohd {
    font-size: 15px;
    background-color: #B4945A;
    border: none;
    color: #ffffff;
    width: 220px;
    height: 50px;
    margin-right: 20px;
    border-radius: 100px;
    transition: 1.5s
}

.contatohd:hover {
    color: #ffffff;
    background-color: #B4945A;
    box-shadow: 0px 0px 10px 5px #B4945A;
    cursor: pointer;
} */

  .nav{
    flex: 2;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
  }

.itemnav{
  font-family: 'roboto';
  font-weight: 450;
  color: #00000065;
  text-decoration: none;
  position: relative;
  padding: 44px 20px;
  transition: color 0.5s ease;
}

.itemnav::before{
  content: '';
  position: absolute;
  width: 0;
  height: 4px;
  bottom: 0;
  left: 50%;
  background-color: #2696b6;
  transition: width 0.5s ease, left 0.5s ease;
}

.itemnav:hover::before{
  width: 100%;
  left: 0;
}

.itemnav:hover{
  color: #2696b6;
}

.botoesnav{
  flex: 1;
  display: flex;
  justify-content: flex-end;
  flex-shrink: 0;  
}

.cv, .orcamento {
    background-color: #2696b6;
    border: none;
    color: #ffffff;
    width: 120px;
    max-width: 120px;
    min-width: 50px;
    height: 50px;
    border-radius: 100px;
    transition: 1.5s ease;
    margin: 10px;
}

.cv:hover {
    color: #ffffff;
    box-shadow: 0px 0px 5px 5px #2696b6;
    cursor: pointer;
}

.orcamento:hover {
  color: #ffffff;
  box-shadow: 0px 0px 5px 5px #2696b6;
  cursor: pointer;
}

#burger {
  color: #2696b6;
  display: block;
  text-align: center;
  cursor: pointer;
  font-size: 30px;
}

menu {
  display: none;
}

.hamburguer {
  display: none;
}



.rodape {  width: 100vw;
  box-shadow: 0px 0px 15px 15px #00000065;
  color: #ffffff;
  margin: 10% -0.45% -0.45% -0.45%;
  padding-top: 50px;
  padding-bottom: 0px;
  height: 100%;
  background-color: #000000e5;
  text-align: center;
}


.txtrp {
  size: 5px;
}

.contatorp {
  font-size: 15px;
  background-color: #2696b6;
  border: none;
  color: #ffffff;
  width: 220px;
  height: 50px;
  display: inline-block;
  align-items: center;
  border-radius: 100px;
  margin: 40px 60px 60px 60px;
  transition: 1.5s
}

.contatorp:hover {
  color: #ffffff;
  background-color: #2696b6;
  box-shadow: 0px 0px 10px 5px #2696b6;
  cursor: pointer;
}

.fa-brands {
  color: #ffffff;
  font-size: 27px;
  margin: 10px;
  transition: 0.4s;
}

.fa-brands:hover {
  color: #2696b6;
}